html {
  width: 1080px;
  height: 1920px;
  margin: 0;
}

body {
  max-width: 1080px;
  max-height: 1920px;
  margin: 0;
  padding: 0;
  background-image: url("../img/totem-fundo.jpg");
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* NÃO EXIBE AS BARRAS DE ROLAGEM */
  overflow-x: hidden;
  overflow-y: hidden;
}
.main {
  margin-top: 340px;
}
#temp {
  float: right;
}
.thumb-main {
  width: 922px;
  height: 530px;
  /* margin-left: 280px; */
}
.txt1 {
  font-size: 20px;
  margin: 6px 10px 0 0;
  float: right;
}
.content {
  margin-top: 134px;
}

.content button {
  border: none;
}

.thumb02 {
  margin: 242px 0 0 155px;
  /* margin-left: 155px; */
  width: 156px;
  height: 89px;
  background-image: url("../img/inside.jpg");
  background-size: 100%;
}

.thumb03 {
  margin-top: 90px;
  margin-left: 312px;
  width: 154px;
  height: 90px;
  background-image: url("../img/fono.jpg");
  background-size: 100%;
}

.thumb04 {
  margin-top: -4px;
  width: 154px;
  height: 89px;
  background-image: url("../img/psicologia.jpg");
  background-size: 100%;
}

.thumb05 {
  margin: -10px 0 0 466px;
  width: 154px;
  height: 90px;
  background-image: url("../img/podio.jpg");
  background-size: 100%;
}

.thumb06 {
  margin: 85px 153px 0 154px;
  width: 157px;
  height: 87px;
  background-image: url("../img/serv_social.jpg");
  background-size: 100%;
}

.thumb07 {
  width: 154px;
  height: 90px;
  margin: 90px 308px 0 0;
  background-image: url("../img/est_pedagogica.jpg");
  background-size: 100%;
}

.thumb08 {
  width: 145px;
  height: 90px;
  background-image: url("../img/hidro.jpg");
  background-size: 100%;
}

.thumb09 {
  margin: 85px 620px 0 0;
  width: 154px;
  height: 90px;
  background-image: url("../img/marcio.jpg");
  background-size: 100%;
}

.back {
  width: 154px;
  height: 90px;
  background-image: url("../img/back.jpg");
  background-size: 100%;
}
